<h2>Edit Article</h2>

<%= form_for(@link, url: {action: :update, controller: :link}, html: { method: :put }) do |f| %>

  <div class="field">
    <h4>Name:</h4>
    <%= f.text_field :name, autofocus: true  %>
  </div>

  <div class="field">
    <h4>Url:</h4>
    <%= f.text_field :url %>
  </div>
  
  <div class="field">
    <h4>Image:</h4>
    <img src= <%= @link[:img] %> >
    <br/>
    <%= f.text_field(:img) %>
    <%= f.hidden_field(:favicon) %>
  </div>
  
  <div class="field">
    <h4>Description:</h4>
    <%= f.text_area(:description) %><br/>
  </div>
  
  <div class="field">
    <h4>Region:</h4>
    <%= f.select(:region_id, Region.all.collect {|r| [ r.name, r.id ] }) %>
  </div>

  <div class="field">
    <h4>Folder:</h4>
    <%= f.select(:folders, Folder.all.collect {|p| [ p.title, p.id ] },
        { prompt:""}, 
        { multiple:true, size: (Folder.all.length+1), class:"form-control" }) %>
  </div>
  
  <div class="field">
    <h4>Followers:</h4>
    <%= f.select(:followers, User.all.collect {|u| [ u.username, u.id ] },
        { prompt:""}, 
        { multiple:true, size: (User.all.length+1), class:"form-control" }) %>
  </div>

  <input type="hidden" name="id" value="<%= @link.id %>" />

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-primary" %>
  </div>

<% end %>