<% if @links.length > 0 %>

<table class="table">
	<tr>
		<td>Name</td>
		<td>Posted By</td>
		<td>Region</td>
		<td>Folders</td>
		<td>Actions</td>
	</tr>
	
	
		<% @links.each do |l| %>
		<tr>
			<td><%= link_to l.name, l.url, {target: "_blank"} %></td>
			<td><%= 
			if (!l.user.nil?) 
				(current_user == l.user)? "You" : l.user.username 
			else
				"No User Specified"
			end
			%></td>
			<td><span class="label label-default"><%= (l.region.nil?)? "No Region Selected" : l.region.name %></span></td>
			<td> 
				<% l.folders.each do |folder| %>
					<a href= <%=  folder_path(folder.id) %>> <span class="label label-info"><%= folder.title %></span> </a>
				<% end %>
			</td>

			<td>
				<div class="btn-group" role="group" aria-label="...">

					<% if current_user.isFollowing l.id %>
						<%= link_to "Unfollow", user_unfollow_path(l.id), {class: 'btn btn-warning', type: "button", method: :put} %>
					<% else %>
						<%= link_to "Follow", user_follow_path(l.id), {class: 'btn btn-info', type: "button", method: :put} %>
					<% end %>

					<%= link_to "Edit", {action: :edit, id: l.id}, {class: 'btn btn-default', type: "button"} %>
					<%= link_to "Link Details", {action: :show, id:l.id}, {class: 'btn btn-default', type: "button"} %>
					<%= link_to "Delete", {action: :destroy, id: l.id}, {class: 'btn btn-danger', type: "button", method: :delete} %>
				</div>
			</td>
		</tr>
		<% end %>
</table>

<% else %>

	<h2>No Articles <%= @type.capitalize %> By This User</h2>

<% end %>