<% if @links.length > 0 %>

<table class="table">
	<tr>
		<td>URL</td>
		<td>Posted By</td>
		<td>Folders</td>
		<td>Actions</td>
	</tr>
	
	
		<% @links.each do |l| %>
		<tr>
			<td><%= l.name %></td>
			<td><%= l.user.username %></td>
			<td> 
				<% l.folders.each do |folder| %>
					<a href= <%=  folder_path(folder.id) %>> <span class="label label-info"><%= folder.title %></span> </a>
				<% end %>
			</td>
			<td>
				<div class="btn-group" role="group" aria-label="...">
					<%= link_to "Go to Link", l.url, {class: 'btn btn-default', type: "button", target: "_blank"} %>
					<%= link_to "Link Details", {action: :show, id:l.id}, {class: 'btn btn-default', type: "button"} %>
					
					<%= link_to "Delete", {action: :destroy, id: l.id}, {class: 'btn btn-danger', type: "button", method: :delete} %>
				</div>
			</td>
		</tr>
		<% end %>
</table>

<% else %>

	<h2>No Links Posted By this User</h2>

<% end %>