<%= form_for(:link, :url=> {:action=>'create'}) do |f| %>
	
	<div class="field">
		<h4>Name:</h4> 
		<%= f.text_field(:name) %><br/>
	</div>

	<div class="field">
		<h4>URL:</h4> 
		<%= f.text_field(:url) %><br/>
	</div>

	<div class="field">
		<h4>Description:</h4> 
		<%= f.text_area(:desc) %><br/>
	</div>

	<div class="field">
		<h4>Region:</h4>
		<%= f.select(:folders, Region.all.collect {|r| [ r.name, r.id ] }) %>
	</div>

	<div class="field">
		<h4>Folder:</h4>
		<%= f.select(:folders, Folder.all.collect {|p| [ p.title, p.id ] },
			{ prompt:""}, 
			{ multiple:true, size: (Folder.all.length+1), class:"form-control" }) %>
	</div>

	<div class="form-buttons">
		<%= submit_tag("Create") %>
	</div>
		
<% end %>