<h2><a href="<%= @link.url %>" target="_blank"> <%= @link.name %> </a> </h2>


<div class="row">
	<div class="col-md-3">
		<%= image_tag "webshot.png", {class:"article_image"} %>
	</div>

	<div class="col-md-9">
		<h3>Posted by <a href="#"><%= @link.user.username %></a> </h3>
		
		<h3>Region:</h3>
		<span class="label label-default"><%= (@link.region.nil?)? "No Region Selected" : @link.region.name %></span>

		<h3>Folders</h3>
		<div id="folders_container">
			<% @link.folders.each do |folder| %>
			<span class="label label-info"><%= folder.title %></span>
			<% end %>
		</div>

		<h3>Description</h3>
		<div id="excerpt_container">
			<% if @link.desc.nil? %>
				<p>No Description Given</p>
			<% else %>
				<p><%= @link.desc %></p>
			<% end %>
		</div>

		<h3>Followers</h3>
		<div id="followers_container">
			<a href="#">user2</a>, <a href="#">user3</a>, <a href="#">user4</a>				
		</div>
		
		<div id="link_container">
			<% if @link.isPoster?(current_user) %>

			<div class="btn-group" role="group" aria-label="...">
				<%= link_to "Edit", {action: :edit, id: @link.id}, {class: 'btn btn-default', type: "button"} %>

				<%= link_to "Delete", {action: :destroy, id: @link.id}, {class: 'btn btn-danger', type: "button", method: :delete} %>
			</div>

			<% end %>	
		</div>
		
	</div>

</div>