<h2><a href="<%= @link.url %>" target="_blank"> <%= @link.name %> </a> </h2>


<div class="row">
	<div class="col-md-3">
		<%= image_tag "webshot.png", {class:"article_image"} %>
	</div>

	<div class="col-md-9">
		<h3>Posted by <a href="#"><%= @link.user.username %></a> </h3>
		
		<h3>Folders</h3>
		<div id="folders_container">
			<% @link.folders.each do |folder| %>
			<span class="label label-info"><%= folder.title %></span>
			<% end %>
		</div><br/>

		<div id="excerpt_container">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint provident voluptas repellendus minus necessitatibus quaerat maxime omnis ea obcaecati consectetur, officiis porro error quidem, distinctio molestiae sit, ex accusantium tenetur.
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint provident voluptas repellendus minus necessitatibus quaerat maxime omnis ea obcaecati consectetur, officiis porro error quidem, distinctio molestiae sit, ex accusantium tenetur.
			</p>
		</div>

		<h3>Followers</h3>
		<div id="followers_container">
			<a href="#">user2</a>, <a href="#">user3</a>, <a href="#">user4</a>				
		</div><br/>
		
		
		<div id="link_container">
			<% if @link.isPoster?(current_user) %>
			<%= link_to "Delete", {action: :destroy, id: @link.id}, {class: 'btn btn-danger', type: "button", method: :delete} %>
			<% end %>	
		</div>
		
	</div>

</div>