<h2><a href="<%= @link.url %>" target="_blank"> <%= @link.name %> </a> </h2>


<div class="row">
	<div class="col-md-3">
		<%if (@link.img)%>
		<%= image_tag @link.img, {class:"article_image"} %>
		<%else%>
		<%= image_tag "webshot.png", {class:"article_image"} %>
		<%end%>
	</div>

	<div class="col-md-9">
		<h3>Posted by <a href="#"><%= @link.user.username %></a> </h3>
		
		<h3>Region:</h3>
		<span class="label label-default"><%= (@link.region.nil?)? "No Region Selected" : @link.region.name %></span>

		<h3>Categories</h3>
		<div id="folders_container">
			<% @link.folders.each do |folder| %>
			<span class="label label-info"><%= folder.title %></span>
			<% end %>
		</div>

		<h3>Description</h3>
		<div id="excerpt_container">
			<% if @link.description.nil? %>
				<p>No Description Given</p>
			<% else %>
				<p><%= @link.description %></p>
			<% end %>
		</div>

		<h3>Shared With</h3>
		<div id="followers_container">
			<% if @link.followers.length == 0 %>
				<p>Not Currently Shared</p>
			<% else %>
				<% @link.followers.each do |f| %>
					<span class="label label-default"><%= f.username %></span>
				<% end %>
			<% end %>			
		</div> <br/>
		
		<div id="link_container">
			<% if @link.isPoster?(current_user) %>

			<div class="btn-group" role="group" aria-label="...">
				<%= link_to "Edit", {action: :edit, id: @link.id}, {class: 'btn btn-default', type: "button"} %>

				<%= link_to "Delete", {action: :destroy, id: @link.id}, {class: 'btn btn-danger', type: "button", method: :delete} %>
			</div>

			<% end %>	
		</div>
		
	</div>

</div>