<%= form_for(:link, :url=> {:action=>'create'}) do |f| %>
<%= f.text_field :name, autofocus: true, class:"edit_title" %>
<%= f.hidden_field :url %>

<div class="row">
  <div class="col-md-3">
    <%if (@link.img)%>
      <%= image_tag @link.img, {class:"article_image"} %>
    <%else%>
      <%= image_tag "webshot.png", {class:"article_image"} %>
    <%end%>
    <%= f.text_field(:img) %>
		<%= f.hidden_field(:favicon) %>
  </div>

  <div class="col-md-9">
    <h3>Description</h3>
    <div id="excerpt_container">
      <%= f.text_area(:description, class:"edit_desc") %><br/>
    </div>
    
    <h3>Category</h3>
    <%= f.select(:folders, Folder.all.collect {|p| [ p.title.capitalize, p.id ] }, {}, { class:"form-control edit_cat" }) %>

    <!-- test -->
    <h3>Region</h3 > 
    <input type="hidden" name="id" value="<%= @link.id %>" />
    <%= f.select(:region_id, Region.all.collect {|r| [ r.name, r.id ]}, {}, { class:"form-control edit_region"}) %>


    <h3>Share With</h3>
    <div id="followers_container">
      <%= f.select(:followers, User.all.collect {|u| [ u.username, u.id ] }, {}, { multiple:true, size: (User.all.length < 3) ? User.all.length : 3, class:"form-control edit_share" }) %>   
    </div> <br/>
    
    <div id="link_container">
      <div class="btn-group" role="group" aria-label="...">
        <%= f.submit "Create", class:"btn btn-primary" %>
        <%= link_to "Cancel",  links_path, {class: 'btn btn-default', type: "button"} %>
      </div>
    </div>
    
  </div>
<% end %>
</div>