<p id="notice"><%= notice %></p>

<h3>Title</h3>
<p>
  <%= @folder.title.capitalize %>
</p><br/>

<h3>Description</h3>
<p>
  <%= @folder.description %>
</p><br/>


<h3>Articles</h3>
<% if @folder.links.length > 0 %>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Poster</th>
		<th>Actions</th>
	</tr>

	<% @folder.links.each do |l| %>
	
	<tr>
		<td><%= link_to l.name,  l.url, {target: "_blank"} %> </td>
		<td><%= l.user.username %></td>
		<td>
			<div class="btn-group" role="group" aria-label="...">
				<%= link_to "Details", {action: :show, controller: :link, id:l.id}, {class: 'btn btn-default', type: "button"} %>

				<%= link_to "Remove From Folder", {action: :remove_link, link_id:l.id, folder_id:@folder.id}, {method: :delete, class: 'btn btn-info', type: "button"} %>
			</div>

		</td>
	</tr>
	
	<% end %>
	
</table>
<% else %>
	
	<h3>No Articles Currently Within this folder.</h3>
<% end %>

<%= link_to 'Edit', edit_folder_path(@folder), {class: 'btn btn-default', type: "button"} %>
<%= link_to 'Back', folders_path, {class: 'btn btn-default', type: "button"}  %>
