<h2>Edit <%= @user.username %></h2>

<%= form_for(@user, url: {action: :edit}, html: { method: :put }) do |f| %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true  %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :admin %>
    <%= f.check_box :admin %>
  </div> <br/>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div><br/>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br/>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div><br/>
  
  <div class="actions">
    <%= f.submit "Update", class:"btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>