<h1>Edit Users</h1>

<table class="table">
	<tr>
		<td>Username</td>
		<td>Email</td>
		<td>Role</td>
		<td>Actions</td>
	</tr>

	<% @users.each do |u| %>
		<tr>
			<td> <%= u.username %> </td>
			<td> <%= u.email %> </td>
			<td> <%= (u.admin)? "Admin" : "Researcher" %> </td>
			<td>
				
				<div class="btn-group" role="group" aria-label="...">
					
					<% if current_user.admin %>
					
						<%= link_to "Edit", edit_user_path(u.username), {class: 'btn btn-default', type: "button"} %>
						<%= link_to "Delete", {action: "destroy", user_name: u.username}, {class: 'btn btn-danger', type: "button", method: :delete} %>
						
					<% end %>

				</div>
			</td>
		</tr>
	<% end %>
	
</table>

<% if current_user.isAdmin? %>
<%= link_to 'New User', new_user_registration_path, {class: 'btn btn-default', type: "button"}  %>
<% end %>
