<p id="notice"><%= notice %></p>

<h1>Listing Regions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name.capitalize %></td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Show', region, {class: 'btn btn-default', type: "button"}  %>
            <%= link_to 'Edit', edit_region_path(region), {class: 'btn btn-default', type: "button"}  %>
            <%= link_to 'Delete', region, {class:"btn btn-danger", type:"button", method: :delete, data: { confirm: 'Are you sure?'} } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region', new_region_path, {class: 'btn btn-default', type: "button"} %>
