<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="col-md-3">
      
      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          <%= image_tag "wesearch_logo.png" %>
        </a>
      </div>
    
    </div>
    <% @active ||= "all" %>

    <%if user_signed_in? %>
    
    <div class="col-md-9">

      <%= form_tag("/links/search", {method: "get", class:"navbar-form navbar-left", role:"search"}) do %>
        <div class="input-group" id="search_group">

          <%= text_field_tag :q, nil, {class:"form-control", placeholder: 'Find Articles...'}  %>
          <span class="input-group-btn"><%= submit_tag("Search", {class:"btn btn-default search_button"}) %></span>
        </div>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <li> 
          <%= link_to "All", links_path, {id:"all", class:"filter_button #{(@active=="all")? "active": ""}"} %> 
        </li>

        <% Folder.all.each do |f| %>
          <li> 
            <%= link_to f.title.capitalize, {action: :index, type:"category", value:f.title.downcase}, {id:f.title.downcase, class:"filter_button #{(@active==f.title.downcase)? "active": ""}"} %>
          </li>
        <% end %>
        <li> 
          <%= link_to "+", new_link_path, {class:"add_button"}%>
        </li>
      </ul>

      <% end %>
    </div>

  </div>
</nav>

<!-- <div class="alert notice alert-warning" role="alert"><%= alert %></div>
 -->  
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "NMI Researcher", root_path, {class:"navbar-brand"} %>
    </div>

	  
    <ul class="nav navbar-nav navbar-right">
    	
      <li> <%= link_to "Add Article", new_link_path %> </li>
      <li> <%= link_to "All Articles", links_path(:all) %> </li>
      <li> <%= link_to "Posted Articles", links_path(:posted) %> </li>
      <li> <%= link_to "Followed Articles", links_path(:followed)%></li>
      
      <li> <%= link_to "All Users", users_path%> </li>      
      <li> <%= link_to "All Folders", folders_path%> </li>
      <li> <%= link_to "All Regions", regions_path%> </li>
		  <li class="active">
			 <%= link_to("Logout", destroy_user_session_path, {:method => :delete}) %>
		  </li>
    </ul>

  </div>
</nav> -->