<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        NMI Researcher
      </a>
    </div>

	<%if user_signed_in? %>

    <ul class="nav navbar-nav navbar-right">
    	
      <li>
        <%= link_to "Add Link", link_path %>
      </li>
      
      <li>
        <%= link_to "Posted Links", links_path, {type: :posted} %>
      </li>
      
      <li>
        <%= link_to "Followed Links", links_path, {type: :posted}%>
      </li>
    	
      <li>
        <a href="">Link Search</a>
      </li>

      <li>
        <%= link_to "All Users", users_path%>
      </li>
      
		  <li class="active">
			 <%= link_to("Logout", destroy_user_session_path, {:method => :delete}) %>
		  </li>
    </ul>

    <% end %>
  </div>
</nav>