<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "NMI Researcher", root_path, {class:"navbar-brand"} %>
    </div>

	<%if user_signed_in? %>

    <ul class="nav navbar-nav navbar-right">
    	
      <li> <%= link_to "Add Article", new_link_path %> </li>
      <li> <%= link_to "All Articles", links_path(:all) %> </li>
      <li> <%= link_to "Posted Articles", links_path(:posted) %> </li>
      <li> <%= link_to "Followed Articles", links_path(:followed)%></li>
      <li> <a href="">Link Search</a> </li>
      <li> <%= link_to "All Users", users_path%> </li>      
      <li> <%= link_to "All Folders", folders_path%> </li>
      <li> <%= link_to "All Regions", regions_path%> </li>
		  <li class="active">
			 <%= link_to("Logout", destroy_user_session_path, {:method => :delete}) %>
		  </li>
    </ul>

    <% end %>
  </div>
</nav>