<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <%= image_tag "wesearch_logo.png" %>
      </a>
    </div>
  
    <%if user_signed_in? %>

    <ul class="nav navbar-nav navbar-right">
      <li> <a id="all" class="filter_button active" href="#">All</a> </li>
      <% Folder.all.each do |f| %>
        <li> 
          <a id="<%= f.title.downcase %>" class="filter_button" href="#"><%= f.title %></a> 
        </li>
      <% end %>
      <li> 
        <%= link_to "+", new_link_path, {class:"add_button"}%>
      </li>
    </ul>

    <% end %>
  </div>
</nav>

<!-- <div class="alert notice alert-warning" role="alert"><%= alert %></div>
 -->  
<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "NMI Researcher", root_path, {class:"navbar-brand"} %>
    </div>

	  
    <ul class="nav navbar-nav navbar-right">
    	
      <li> <%= link_to "Add Article", new_link_path %> </li>
      <li> <%= link_to "All Articles", links_path(:all) %> </li>
      <li> <%= link_to "Posted Articles", links_path(:posted) %> </li>
      <li> <%= link_to "Followed Articles", links_path(:followed)%></li>
      
      <li> <%= link_to "Link Search", search_links_path %></li>
      <li> <%= link_to "All Users", users_path%> </li>      
      <li> <%= link_to "All Folders", folders_path%> </li>
      <li> <%= link_to "All Regions", regions_path%> </li>
		  <li class="active">
			 <%= link_to("Logout", destroy_user_session_path, {:method => :delete}) %>
		  </li>
    </ul>

  </div>
</nav> -->