<span style="margin-left:40px; padding: 8px; font-weight: bold; text-transform: uppercase;">Welcome <%= current_user.username%></span>
  
<ul class="menu_list">
  <li>
    <%= link_to "Main Feed", links_path%>
  </li>
  
  <li>
    <%= link_to "Shared With You", {action: :index, type:"user", name:current_user.username, value:"shared"} %>
  </li>

  <li>
    <%= link_to "Posted By You", {action: :index, type:"user", name:current_user.username, value:"posted"} %>
  </li>
  
  <li style="margin-top:10px">
    <span style="padding: 8px; font-weight: bold; text-transform: uppercase;">By Region:</span>
    <ul style="margin-top:8px;" class="region_list">
      <% Region.all.each do |r| %>
      <li>
        <%= link_to r.name.capitalize, {action: :index, type:"region", value:r.name.downcase}%>
      </li>
      <% end %>
    </ul>
  </li>
  <li>
    <%= link_to "Logout", destroy_user_session_path, {method: :delete, class:"logout_button"} %>
  </li>
</ul>