<!DOCTYPE html>
<html>
<head>
  <title>Nmi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>
<body>

<%= render :partial => '/layouts/header'%>
<div class="alert notice alert-warning" role="alert"><%= alert %></div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
