<!DOCTYPE html>
<html>
<head>
  <title>NMI wesearch</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.ico">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  
</head>

<body>

	<%= render :partial => '/layouts/header'%>

  <%if user_signed_in? %>
    <div class="col-md-3 sidebar">
      <%= render :partial =>'/layouts/sidebar' %>
    </div>
  <% end %>

  <div class="col-md-9 main">
    <%= yield %>
  </div>
  

  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  
</body>
</html>
